.homePage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.headerHome {
  height: auto;
  width: auto;
  margin-top: 15px;
}

.homeContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 20px;
  flex-wrap: wrap;
}

.headerHome h1 {
  margin: 10px;
  font-size: 3em;
}

.headerHome p {
  margin: 10px;
}

.headerHome .scalingP {
  font-size: 1.4em;
  margin: 10px;
}

.homeContent .pfpHome {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.buttonHome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonHome button {
  margin: 20px;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 10px;
  background-color: #24103c;
  color: white;
  border: none;
  transition: transform 0.3s ease;
}

.buttonHome button:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
  cursor: pointer;
}

.maxwellPfp {
  height: auto;
  width: 150px;
}

.maxwellHome {
  height: auto;
  width: 200px;
  margin: 20px;
}

@media only screen and (max-width: 600px) {  
  
  .homeContent .maxwellPfp{
    width: auto;
    height: 50px;
    object-fit: cover;
    margin: 0;
  }

  .maxwellHome {
    width: auto;
    height: 100px;
    margin: 0;
  }

  .headerHome h1 {
    font-size: 2em;
  }

  .headerHome p {
    font-size: 1em;
  }

  .headerHome .scalingP {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 500px) {  
  
  .homeContent .maxwellPfp{
    width: auto;
    height: 50px;
    object-fit: cover;
    margin: 0;
  }
  .homeContent .pfpHome{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0;
  }

  .maxwellHome {
    width: auto;
    height: 100px;
    margin: 0;
  }

  .headerHome h1 {
    font-size: 2em;
  }

  .headerHome p {
    font-size: 1em;
  }

  .headerHome .scalingP {
    font-size: 1.5em;
  }
}
