.homePage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.headerHome {
  height: 700px;
  width: auto;
  margin-top: 15px;
}

.headerHome img {
  height: auto;
  width: 200px;
  margin: 20px;
}
