.header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding: 20px 5%;
  background: #24103c;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 32px;
  color: white;
  font-weight: 700;
  vertical-align: middle;
}
.bar {
  font-size: 16px;
  color: white;
  font-weight: 300;
  margin-left: 30px;
  vertical-align: middle;
}
.navbar button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  vertical-align: middle;
  padding-left: 30px;
}

@media only screen and (max-width: 900px) {
  .bar {
    display:none;
  }
  .navbar button {
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 900px) {
  .navbar button {
    display:none;
  }
}

img {
  width: 70px;
  height: auto;
  align-items: center;
  margin-right: 20px;
  border-radius: 25%;
  vertical-align: middle;
}
